[elastic-{{ logstash_major_version }}]
name=Elastic repository for {{ logstash_major_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ logstash_major_version }}/yum
gpgcheck=1
gpgkey={{ logstash_rpm_gpg_key }}
enabled=1
skip_if_unavailable=1
